<h1>
<strong>Data Management Plan</strong>
<br/>

{% if dc.project.version %}
{% for version in dc.project.versions if version.uuid == dc.project.version.uuid %}
{{version.name}}

{% endfor %}
{% endif %}

</h1>
<div custom-style="DatumOdstavec">
    {{ dc.doc.created_at|datetime_format("%d %B %Y") }}
</div>


